*{
    margin: 0;
}
@import url(../font/danstevis/danstevis.otf);
@font-face {
    font-family: dastnevis;
    src: url(../font/danstevis/danstevis.otf);
}



body{

 font-family: dastnevis;
 color:rgb(17, 2, 2);
}


a{
    text-decoration: none;
    color: #fff;
}

.header {


    background-image:url(../image/karthik-garikapati-oBbTc1VoT-0-unsplash.jpg);


   background-position: center center;
   background-size:cover;
}
.menu {
    padding: 31px;

}
.nav {
    text-align: right;
}

.nav ul li {
    display: inline;
    padding: 0 15px;
}

.nav ul li a {
    color: #fffdf8;
    font-size: 27px;
    font-weight: 600;
    transition: color .2s ease-in-out;
}
.nav ul li a:hover {
    color:rgb(63, 58, 49);
}


.top-header h1 {
    float: left;
}

#but:hover{
    color: rgb(157, 162, 167);
}

.btn{
    padding: 15px 20px;
     border-radius: 30px;
     border: 0;
     cursor: pointer;
     text-align: center;
     font-size: 1.3vw;
     background-color: #363632;
     font-family:dastnevis ;
}

/* .btn-blue{

} */

.icon-left h6 a img{
    padding-top: 0;
    float: left;
    color: burlywood;
   
}
.icon-left h6 a img{
    color: burlywood;
    transition:color .2s ease-in-out ;
}

.icon-left h6 a:hover{
    color: burlywood;

}

.banner-content{
    color: #fff;
    text-align: center;
    padding: 150px 0;
    margin-bottom: 120px;
}

.banner-content h2{
    font-size: 5.1vw;
    margin-right: 10px;
    line-height: 130px;
    color: #fffdf8;
    font-weight: 1000;
    text-shadow: 2px 2px 4px #000000;
}

.banner-content p{
    font-size: 2.vw;
    color: #fffefa;
    text-shadow: 3px 3px 5px #000000;

}

.banner-content h2 span {
    /* background-image:radial-gradient(to right,yellow,wheat,100%) !important; */
        color: rgb(255, 250, 240);
        font-weight: 1000;
   


}

.banner-content h2 em{
    color: rgb(248, 202, 103);
    font-weight: 1000;

}

.banner-content h2 i {
    color: rgb(255, 250, 240);
    font-weight: 1000;

}

.banner-content P{
    font-size: 37px;
    margin-bottom: 20px;
    font-weight: 500;
    margin: left 14px;

}


.btn-first{
    font-family: dastnevis;
    font-weight: 500;
    color: white;
    font-size: 1.5vw;
    background-color: rgb(46, 45, 42);
    padding: 10px;
    border: 0;
    border-radius: 25px;

}

.services{
 background-image: linear-gradient(to top,rgb(17, 16, 16),rgb(22, 19, 19),rgb(1, 1, 8));
  margin-top: -130px;
  border-top: 0.5px solid #3d3c3a;
  padding: 380px 0;
  text-align: center;
  

}

.service-header{
    margin-top: -190px;

    
  
}

.service-header h2{
    font-size: 2.5em;
    color: rgb(247, 237, 192);
    margin-bottom: 13px;
    /* margin-top: 40px; */
    position: relative;
    bottom: 95px;

}

.service-header p{
    font-size: 22px;
    color:rgb(255, 254, 250);
    position: relative;
    bottom: 95px;

}






.us::before{
    font-family: dastnevis;
    font-style: normal;
}

[class*="us"],img{

    font-size: 35px;
    padding:   12px 8px;
    border-radius: 10px;

}
.service-content>*{
    float: left;
    
}


[class^="box"]{
    background-color: rgb(3, 3, 19);
    margin-left: 70px;
    padding: 70px 30px;
    border-radius: 4px;
    border: 1px solid black;
    margin: 0 10px;
    width: calc(calc(100%/3)-82px);
   margin-top: -40px;

}

.services-content:after,
.service-content::before{
    content: "";
    display: block;
    clear: both;
}

[class^="box"] h4{
    color:rgb(247, 237, 192);
    font-size: 20px;
    margin: 10px 0 20px 0;


}


[class^="box"] p{
    line-height: 20px;
    color: rgb(248, 245, 215);
}

.service-content{
    width:100% ;
    margin: 0 auto !important;
}  

 @media  only screen and (max-width:1226px) {

    [class^="box"]{
        width: 100%;
        padding: 80px 0;
        margin: 10px 0;
    }

} 

.about{
    text-align: center;
    padding: 100px 0;
    background-image: linear-gradient(to bottom,rgb(17, 16, 16),rgb(22, 19, 19),rgb(1, 1, 8));
    border-top: 0.7px solid #3d3c3a;

}

.about-header h2 {
    font-size: 40px;
    color:#fffdf8;
    margin-bottom:16px;

} 

.about-header{
    font-size: 20.4px;
    color: #fffdf8;
}

/* <--------------------------------------------------------------> */


.about-content{

     border-bottom: 0.7px solid #252522;
     border-top: 0.7px solid #252522;
     margin: 60px auto;
     width: 90%;
     padding-top: 60px;

 }


 .about-content>*{
    float: left;
}


.about-contenta:after,
.about-content::after{
    content: " ";
    display: block;
    clear: both;
    
}




[class^="profile"],h4,p{
   color: #fffdf8;
   
}

.profile img{
    float: left;
    border-radius: 50%;
}


.profile{

    width: 25%;
    margin-bottom: 60px;
}

.profile h4{
    margin-top: 20px;
    margin-left: 10px;
}

.profile p{
    line-height: 25px;
    margin-left: 10px;


}

.about-footer{
    color: #fffdf8;
    /* width: 70%; */
    margin: 0;
}

.butt3{
    font-family: dastnevis;
    font-size: 14.5px;
    color: #fffdf8;
    font-weight: 700;
    background-color: rgb(2, 2, 29);
    border:0.5 solid #252522 ;
    padding: 15px 25px;
    border-radius: 26px;
}

.butt3 b{
    letter-spacing: 1.5px;

}


.about-footer p{
    line-height: 25px;
    margin-bottom: 34px;
    font-size: 23px;
    font-weight: 600;
    word-spacing: 2.5px;

}

.contact{
    background-color: rgb(1, 1, 20);
    color: #fffdf8;
    padding: 100px 0;

}

.contact-header{
    text-align: center;
}

.contact-header h2{
    font-size: 40px;
    margin-bottom: 20px;
}

.contact-header p{
    font-size: 36px;
}


/* <---------------------------> */


.contact-content{
    text-align: center;
}


input[type="text"],
input[type="email"]{
    background-color:#fffdf8;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 15px 11px;
    width: 26%;
    margin-right: 20px;
    margin-top: 20px;
}

.butt4{
    font-family: dastnevis;
    font-size: 14.5px;
    color: #fffdf8;
    font-weight: 700;
    background-color: rgb(3, 3, 51);
    border:0.5 solid #252522 ;
    padding: 20px 27.5px;
    border-radius: 19px;
    position: relative; 
    bottom: -68px;
    right: -270px;

}

textarea{
    background-color: #fff;
    color: black;
    border: none;
    border-radius: 4px;
    height: 200px;
    padding: 15px 25px;
    width: 50%;
    margin-top: 20px; 
    margin-left: -152px;
    resize: none;

}

::placeholder{
    color: #363632;
    font-size: 18px;
    font-family: dastnevis;
}


.footer{
    background-color: rgb(3, 3, 51);
    padding: 55px 0;
}

ul{
    list-style-type: none;
    color: #fffdf8;
    font-size: 22.6px;
}

